<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item border border-2 border-warning active">
        <img src="https://c4.wallpaperflare.com/wallpaper/394/828/960/coffee-cups-idea-bulb-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item border border-2 border-warning">
        <img src="https://c4.wallpaperflare.com/wallpaper/619/234/514/coffee-cup-breakfast-cup-still-life-photography-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item border border-2 border-warning">
        <img src="https://c4.wallpaperflare.com/wallpaper/186/193/251/coffee-cup-coffee-book-wooden-table-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item border border-2 border-warning">
        <img src="https://c4.wallpaperflare.com/wallpaper/903/901/236/coffee-still-life-photography-coffee-cup-still-life-wallpaper-preview.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>