<div class="container border border-warning border-2 rounded-3 mt-5 px-5 py-4">
    <div class="position-relative me-5 mb-5">
        <a [routerLink]="['/users/new']" class="btn btn-warning opacity-75 position-absolute top-0 end-0 fw-bold">Add New User</a>
    </div>
    <table class="table mt-5 table-striped table-warning">
        <thead>
        <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user?.name }}</td>
              <td>{{ user?.email }}</td>
              <td>
                <a [routerLink]="[user?.id]" class="btn btn-primary opacity-75 mb-2 me-4">
                    View Details
                </a>
                <a routerLink="/users/edit/{{ user?.id }}" class="btn btn-secondary mb-2 me-4">
                    Edit Info
                </a>
                <button class="btn btn-danger" type="button" (click)="deleteUser(user?.id)">
                    Delete User
                </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>